@page
@model DbSyncTool.Pages.IndexModel
@{
    ViewData["Title"] = "Insert Data";
}

<!-- Simple upload form for the web app -->
<form method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <button type="submit">Upload</button>
</form>



